* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url(PB4.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    animation: bgslider 20s ease-in-out infinite;
}

@keyframes bgslider {
    0%,
    100% {
        background-image: url('PB4.jpg');
    }
    25% {
        background-image: url('PB5.jpg');
    }
    50% {
        background-image: url('PB7.jpg');
    }
    65% {
        background-image: url('PB3.jpg');
    }
    75% {
        background-image: url('PB6.jpg');
    }
    85% {
        background-image: url('PB1.jpg');
    }
}

.logo img {
    width: 50%;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links ul {
    margin-left: 550px;
}

.nav_links ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

.nav_links ul li a {
    text-decoration: none;
    color: #fff;
    font-family: serif;
    font-size: 20px;
    position: relative;
}

.nav_links ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

#backvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    display: none;
}

@media (min-aspect-ratio:16/9) {
    #backvideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    #backvideo {
        width: auto;
        height: 100%;
    }
}

#down {
    width: 30px;
    margin: 0 2% 0 0;
    animation: move 1s linear infinite;
    cursor: pointer;
}

@keyframes move {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

button {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 35px;
    margin-left: 20px;
}

button:hover {
    background-color: #fff;
    color: #000;
    transition: ease 0.8s;
    font-weight: bold;
}

.txt {
    color: #fff;
    position: absolute;
    bottom: 15%;
}

.txt h4 {
    font-size: 30px;
    font-weight: 200px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

.txt h1 {
    color: #fff;
    font-size: 100px;
    margin: 15% 80px;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

p {
    padding: 5px;
    font-size: 20px;
    font-family: serif;
    margin: 3% 0 5% 15%;
    line-height: 1.5vw;
}

.slide_left {
    animation: slide 4s linear infinite forwards;
}

@keyframes slide {
    0% {
        transform: translate(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

h4 .slide_left {
    animation-delay: 10s;
}

p .slide_left {
    animation-delay: 10s;
}

.di h3 {
    font-family: 'Courier New', Courier, monospace;
    /* font-style:oblique; */
    font-size: 35px;
    position: sticky;
    color: #fff;
    float: right;
    font-weight: bold;
    margin: 38% 2% 0 0;
    padding: 10px;
    letter-spacing: 1.0vw;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    outline: none;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: rgb(23, 110, 84);
        text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    100% {
        color: #ffffff;
        text-shadow: 0 0 10px #1dbea9, 0 0 20px rgb(0, 255, 191), 0 0 40px rgb(0, 255, 191), 0 0 80px rgb(0, 255, 191), 0 0 160px rgb(0, 255, 191);
    }
}